# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/cybersecurity-dashboard-2/node_modules

# next.js
/.next/
/cybersecurity-dashboard-2/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/cybersecurity-dashboard-2/next-env.d.ts